body {
    padding: 50px;
}

img {
    max-width: 100%;
}

.test {
    width: 550px;
    height: 350px;
}

.tobSlider {
    margin-left: auto;
    margin-right: auto;    
    overflow: hidden;    
    position: relative;
}

    .tobSlider img {
        position: absolute;
        max-width: none;
    }

.tobSlider .slice{
    display: block;
    float: left;
    background-color: green;
    position: absolute;
    top: 0px;
    overflow: hidden;
}